img.about__img{
    border-radius: 10px;
    width: 100%;
}
h1.about_header{
    margin-bottom: 8px;
    font-weight: 600;
    text-align: start;
    font-family: Montserrat, sans-serif;
    font-size: 45px;
}
/*RESPONSIVE*/
@media only screen and(max-width: 1024px)
{
    .p__color{
        font-size: 15px !important;
    }
    p.about__text{
        font-size: 12px;
    }
}